pom.xml
pom.xml.asc
*jar
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures

*~
*#
censorius/www/js
*.orig
*.bak
*~
herald/herald-fcgi.fasl herald/herald-util.fasl herald/packages.fasl herald/setup.fasl
