pom.xml
pom.xml.asc
*jar
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures

*~
*#
censorius/www/js
*.orig
*.bak
*~

doc/censorius.aux
doc/censorius.cp
doc/censorius.fn
doc/censorius.ky
doc/censorius.log
doc/censorius.pdf
doc/censorius.pg
doc/censorius.toc
doc/censorius.tp
doc/censorius.vr
herald/*.fasl

