@import url(https://fonts.googleapis.com/css?family=Cantarell:400,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Damion);
@import url(https://fonts.googleapis.com/css?family=Herr+Von+Muellerhoff);

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    transition: all 1s ease .1s;
}

@font-face {
    font-family: Century-Schoolbook;
    src: url(./Century-Schoolbook.woff);
}

@font-face {
    font-family: Kells;
    src: url(./FPGBeltane.ttf);
    /* src: url(./KellsFLF.woff); */
}

@font-face {
    font-family: Meath;
    src: url(./FPGBeltane.ttf);
    /* src: url(./MeathFLF.woff); */
}

@font-face {
    font-family: "Noto Sans Cuneiform";
    src: url(./NotoSansCuneiform-Regular.ttf);
}

:lang(sux) {
    font-family: "Noto Sans Cuneiform", sans-serif;
}

html {
    background: #4c4c4c; /* Old browsers */
    background: -moz-linear-gradient(top, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c4c4c), color-stop(12%,#595959), color-stop(25%,#666666), color-stop(39%,#474747), color-stop(50%,#2c2c2c), color-stop(51%,#000000), color-stop(60%,#111111), color-stop(76%,#2b2b2b), color-stop(91%,#1c1c1c), color-stop(100%,#131313)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* IE10+ */
    background: linear-gradient(to bottom, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
    margin: 0;
    padding: 0;
    border:4pt solid black;
    font-family: Century-Schoolbook, "Century Schoolbook", serif;
    width: 100%;
}

body {
    background: #e2e2e2; /* Old browsers */
    background: -moz-linear-gradient(top, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2e2e2), color-stop(50%,#dbdbdb), color-stop(51%,#d1d1d1), color-stop(100%,#fefefe)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* IE10+ */
    background: linear-gradient(to bottom, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */
    border: 1px solid white;
    padding: 2pt 2pt 18pt 2pt;
    border-radius: 1.5rem;
    min-height: 90%;
    min-width: 50%;
    max-width: 52rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.5rem;
    margin-bottom: auto;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

h1 {
    text-decoration: none;
    color: white;
    background-color: indigo;
    border: 0px solid indigo;
    font-family: Meath;
    width: auto;
    margin: 0;
    padding: .5ex;
    display: block;
    position: fixed;
    top: 0; left: 0;
    font-size: 100%;
    width: 100%;
}

h1>abbr {
    background: #333;
    color: #ccf;
    padding: 4pt;
    font-weight: bold;
    text-decoration: none;
    border: 3pt solid #ccf;
    float: right;
    margin-right: 2em;
}

h2 {
    font-family: Meath;
    color: maroon;
    text-shadow: white 1pt 1pt 2pt;
}

h3,h4,h5,h6 {
    font-family: Kells;
    color: black;
    text-shadow: white 1pt 1pt 2pt;
}

h1,h3 {
    background: #b4ddb4; /* Old browsers */
    background: -moz-linear-gradient(top, #b4ddb4 0%, #83c783 17%, #52b152 33%, #008a00 67%, #005700 83%, #002400 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b4ddb4), color-stop(17%,#83c783), color-stop(33%,#52b152), color-stop(67%,#008a00), color-stop(83%,#005700), color-stop(100%,#002400)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#005700 83%,#002400 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#005700 83%,#002400 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#005700 83%,#002400 100%); /* IE10+ */
    background: linear-gradient(to bottom, #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#005700 83%,#002400 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4ddb4', endColorstr='#002400',GradientType=0 ); /* IE6-9 */
}

h3 {
    border-radius: 1ex;
    margin: 1ex;
    padding: 4pt;
}

h4,h5,h6 {
    display: inline-block;
}

h1+div,h1+section {
    margin-top: 3rem;
}

h2.status {
    font-size: small;
    font-weight: 200;
    color: #666;
    margin: 1ex;
    padding: 3.5rem 0 0 0;
}


p {
    padding: 1ex;
    text-indent: 3ex;
    text-align: justify;
}

address {
    padding: 1ex;
    font-style: normal;
}

br+br { display: none; }

.card {
    border: 1pt solid #444;
    background-color: #eed;
    display: inline-block;
    box-shadow: 3pt 3pt 3pt #999;
    padding: 0;
    margin: 1rem;
    max-width: 50rem;
    min-width: 20rem;
}

.card:hover {
    box-shadow: 3pt 3pt 3pt #666;
}

.card>h2 {
    background-color: #eee;
    margin: 0;
    padding: 1ex 1ex 0 1ex;
}

.card:hover>h2 {
    color: #222;
}

.card>p {
    text-align: justify;
    text-indent: 1rem;
    padding: 4pt;
    margin: 0;
    color: #555;
}

.card>div {
    margin: 4pt;
}

.card>.actionArea {
    margin: 0;
    background-color: #d0d0c0;
    padding: 1ex;
    text-align: right;
}

.card>.actionArea:hover {
    background-color: #d8d8c8;
}

table.extras button {
    border: 2pt solid #222;
    color: #227;
    border-radius: 1in;
}

table.extras button:hover {
    font-weight: bold;
}

button {
    min-height: 1cm;
    min-width: 1cm;
    background-color: #dde;
    border: 2pt solid #222;
    color: #227;
    font-weight: bold;
    cursor: pointer;
}

.editable-clickable {
    min-height: 6pt;
    min-width: 6pt;
    cursor: pointer;
    border: 2pt solid #222;
    color: #227;
    background-color: #dde;
    border-radius: 1ex;
    transform: rotate(0);
    cursor: context-menu;
}

.editable-clickable:hover{
    transform: rotate(2deg);
}

.card>.actionArea button {
    display: inline-block;
    min-width: 3cm;
    min-height: 1.5cm;
}

.card:hover button {
    transform: rotate(.25deg);
    /* margin: 6pt 3pt 9pt 9pt; */
    box-shadow: 3pt 3pt 3pt #999;
}

button:active {
    background-color: #eee;
    color: #222;
}

.card button:hover {
    background-color: #eef;
    color: #224;
    /* margin: 9pt 0pt 6pt 12pt */;
    box-shadow: none;
}

.card:hover button.true {
    background-color: #dfd;
    color: #242;
}

.card:hover button.href {
    background-color: #fed;
    color: #432;
}

.card:hover button.false {
    background-color: #fdd;
    color: #422;
}

h1 button {
    border: 2pt solid #ddd;
    border-radius: 1ex;
    margin: 0 0 0 2rem;
    background-color: rgba(221,221,221,128);
    color: #339;
    box-shadow: none;
    font-size: 1rem;
    overflow: hidden;
    padding: 0;
    display: inline-block;
}

h1 button:hover {
    color: blue;
    background-color: #ddd;
    border-color: #eef;
    border: 2pt solid #ddd;
    border-radius: 100%;
    margin: 0 0 0 2rem;
}

h1:hover button {
    transform: rotate(4deg);
}

.inset {
    max-width: 50%;
    max-height: 50%;
    min-width: 1.5in;
    min-height: 1.5in;
}

p.warning { color: darkred; font-weight: bold; }

.hint {
    color: #555;
    /* max-font-size: 90%; */
    font-size: 75%;
    /* min-font-size: 7pt; */
    font-weight: 200;
}

.hint::before {
    color: yellow;
    font-weight: normal;
    padding-left: 1ex;
    padding-right: .5ex;
    content: '💡';
}

.hint::before:hover {
    position: absolute;
    font-size: 1in;
    display: block;
    background: black;
    border-radius: 1rem;
    border: 1px solid black;
}

.icon {
    border: 2pt solid;
    border-radius: 1.5rem;
    margin: 0 0 0 2rem;
    background-color: #ddd;
    color: #111;
    box-shadow: none;
    font-size: 150%;
    overflow: hidden;
    padding: 0;
    display: inline-block;
    height: 1.5rem;
    width: 1.5rem;
    margin: .5ex;
}

body.is-dev {
    border: 2pt solid red;
}

body.is-dev::after {
    position: fixed;
    bottom: 0;
    right: 0;
    color: pink;
    background-color: rgba(0,0,0,.666667);
    padding: 4pt;
    content: "☠ BRFP — Development mode — DRAFT";
}

button {
    min-height: 1cm;
    min-width: 1cm;
    background-color: #dde;
    border: 2pt solid #222;
    color: #227;
    font-weight: bold;
    cursor: pointer;
}

.card>.actionArea button {
    display: inline-block;
    min-width: 5cm;
    min-height: 1.5cm;
}

.card:hover button {
    transform: rotate(2deg);
    /* margin: 6pt 3pt 9pt 9pt */;
    box-shadow: 3pt 3pt 3pt #999;
}

button:active {
    background-color: #eee;
    color: #222;
}

.card button:hover {
    background-color: #eef;
    color: #224;
    /* margin: 9pt 0pt 6pt 12pt */;
    box-shadow: none;
}

.card:hover button.true {
    background-color: #dfd;
    color: #242;
}

.card:hover button.false {
    background-color: #fdd;
    color: #422;
}

h1>button {
    border: 2pt solid blue;
    border-radius: 1ex;
    margin: 0 0 0 2rem;
    background-color: blue;
    color: #ddd;
    box-shadow: none;
    font-size: 1rem;
    overflow: hidden;
    padding: 0;
    display: inline-block;
}

h1>button:hover {
    color: blue;
    background-color: #ddd;
    border-color: #eef;
    border: 2pt solid #ddd;
    border-radius: 100%;
    margin: 0 0 0 2rem;
}

h1:hover>button {
    transform: rotate(4deg);
}

textarea {
    display: block;
    width: calc(100% - 1rem);
}

label.two-column {
    width: calc(100% - 2rem);
    text-align: right;
    /* white-space: nowrap; */
}

label.two-column>input[type=text] {
    position: relative;
    /* right: 100% */;
}

textarea:focus {
    border: 1px dotted #222;
}

input[type=text]:focus {
    border-top: 1px dotted #999;
    border-left: 1px dotted #999;
    border-right: 1px dotted #999;

    border-bottom: 1pt solid #222;
}

input:hover, option:hover, textarea:hover {
                               border-color: #222;
                               background-color: #dde;
                           }

label>input[type=text], label>select {
    margin-left: 1rem;
}

label {
    font-weight: bold;
    font-size: 110%;
    color: #333;
    min-width: 1cm;
    min-height: 1cm;
}

label:hover {
    background-color: rgba(192,192,128,192);
}

option {
    transition-duration: .1s;
}

/* Just the suggestion of a boxy thing, without a really visible outline */

fieldset {
    border-width: 0 0 2pt 2pt;
    border-style: solid;
    border-color: #ccd;
    border-radius: 1rem;
    padding: 1ex 1ex 1ex 1rem;
    margin: 3pt;
}

fieldset>legend {
    font-size: 110%;
    margin-left: -1rem;
}

@-webkit-keyframes pulse {
    0% { -webkit-transform: scale(1); }
    50% { -webkit-transform: scale(1.1); }
    100% { -webkit-transform: scale(1); }
}
@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.15); }
    100% { transform: scale(1); }
}

/* Placeholder (hint) text coloring is troublesome */

/* not yet in the CSS standard, so we repeat ourselves a bunch */
::-webkit-input-placeholder {
    color: #08c;
}
:-moz-placeholder { /* Firefox 18- */
    color: #08c;
}
::-moz-placeholder {  /* Firefox 19+ */
    color: #08c;
}
:-ms-input-placeholder {
    color: #08c;
}
::-ms-input-placeholder {
    color: #08c;
}
::placeholder {
    color: #08c;
}

::selection {
    color: black;
    background-color: #ca8;
}
::-moz-selection {
    color: black;
    background-color: #ca8;
}

/* Don't suggest selecting click-only types of things */
label, legend, h1, /*h2, h3, h4, h5, h6,*/ button,
input[type=submit], input[type=checkbox], input[type=radio] {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

label:hover, abbr:hover, button:hover, input[type=text]:hover, textarea:hover, select,
input[type=submit]:hover, input[type=checkbox]:hover, input[type=radio]:hover {
                                                          border-color: black;
                                                      }

/* prevent animating some attributes when switching states */
.marker.valid-unknown {
    display: inline-block;
    height: 1rem;
    width: 1rem;
    color: transparent;
    background-color: transparent;
    content: ' ';
    border-radius: 1rem;
}

.marker { margin-left: 8pt; font-size: 1.25rem; }

.marker.valid-true {
    display: inline-block;
    height: 1rem;
    width: 1rem;
    color: white;
    background-color: green;
    content: '⛤';
    border-radius: 1rem;
}

.marker.valid-false {
    display: inline-block;
    height: 1rem;
    width: 1rem;
    color: black;
    background-color: red;
    content: '⌢';
    border-radius: 1rem;
    cursor: pointer;

    -webkit-animation-name: pulse;
    animation-name: pulse;

    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
}

.urgent {
    -webkit-animation-name: pulse;
    animation-name: pulse;

    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
}

input[type=text], textarea {
    background-color: #eee;
    color: #555;
    border-width: 1px 1px 1pt 1px;
    border-color: #999;
    border-style: solid;
}

input[type=text].valid-false {
    border-color: red;
    background-color: pink;
    color: black;
}

input[type=text].valid-false:focus {
    background-color: #fee;
    color: #655;
    border-color: #a99;
}

.ui-button {
    border-width: 2pt;
    border-style: solid;
    border-radius: .5ex;
    border-color: ButtonHighlight ButtonHighlight ButtonShadow
                                  ButtonShadow;
    background-color: ButtonFace;
    color: ButtonText;
    font-family: Chicago, Carbon, Cantarell, "MS Sans Serif", serif;
    font-size: 12pt;
    padding: 2pt;
    margin: 6pt;
}

table {
    min-width: 75%;
    margin-left: auto;
    margin-right: auto;
}

th,td {
    text-align: left;
    vertical-align: top;
}

table>tbody>tr>td>abbr {
    font-size: 1.25rem;
    padding: 3pt;
    margin: 3pt;
    display: inline-block;
    border: none;
}

table.people>tbody abbr {
    min-width: 1rem;
}

table.people>tbody>tr>td {
    border: 1pt solid transparent;
    margin: 0;
    padding: 0;
    background-color: #ddd;
}

table.people>tbody>tr:hover>td abbr {
    cursor: pointer;
    cursor: context-menu;
}

table.people>tbody>tr:hover>td {
    border: 1pt dotted orange;;
    background-color: orange;
    cursor: pointer;
}

table.people>tbody>tr.editing:hover>td {
    border: 1pt dotted orange;;
    padding: 4pt;
    background-color: inherit;
    cursor: pointer;
}

table.people>tbody>tr>:nth-child(1)>abbr {
    min-width: 5rem;
}

section.card {
    min-width: 40rem;
    width: 95%;
    max-width: 60rem;
}

.card>table { width: 100% }

abbr {
    cursor: help;
    border-bottom: 1pt dotted blue;
    font-weight: normal;
}

.zoom {
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in;
}

.merch-rows:nth-child(even) {
    background-color: #ccc;
}

.merch-price-col, .merch-subtotal-col {
    min-width: 4rem;
}

.merch-thumb {
    height: 3rem;
    width: auto;
    padding: .75ex;
    border: 1px solid black;
    border-radius: 2rem;
    overflow: hidden;
    background-color: white;
    transition-duration: 3s;
    text-align: middle;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
}

.merch-thumb:active {
    height: auto;
    width: 100%;
    transition-duration: 3s;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 12;
    max-height: 100%;
    max-width: 100%;
    margin: auto auto auto auto;
}

.pop-out {
    background-color: #ffe;
    border-radius: 0 1rem 1rem 1rem;
    border: 1pt solid #444;
    box-shadow: 4pt 4pt 9pt green;
    display: block;
    /* left: calc(100% - 42rem));*/
    margin-left: auto;
    margin-right: auto;
    max-width: 40rem;
    min-width: 20rem;
    padding: 1ex;
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 11;
    transform: translate(-50%, -50%) rotate(360deg);
}

.pop-out>button.close {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    transform: rotate(0deg);
    margin: 9pt -1ex -1ex -1ex;
    box-shadow: 0pt 0pt 0pt transparent;
    border-radius: 0 0 1rem 1rem;
    border: 1px solid black;
}

abbr>.ellide {
    display: none;
}

@media screen and (min-width: 60rem) {
    abbr>.ellide {
        display: block;
    }
    abbr>span:first-child { 
        display: none;
    }
    h1>abbr>span:first-child { 
        display: block;
    }
    h1>abbr>.ellide { 
        display: none;
    }
    abbr>.ellide.hint::before { 
        content: '';
    }
}

#assistant {
    display: block;
    background-color: lightblue;
    color: maroon;
    border: 1px solid #444;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 1ex;
    position: relative;
    min-width: 20rem;
    max-width: 40rem;
    max-height: 100%;
    overflow-y: scroll;
}

    table.people.solo { 
        display: block; 
        width: 100%; 
    }

    table.people.solo>tfoot,    table.people.solo>*>tr {
        display: block;
        width: 100%;
    }

    table.people.solo>tfoot>tr>th, table.people.solo>tfoot>tr>td { 
        display: inline-block; 
    }

    table.people.solo>thead { 
        display: none
    }

    table.people.solo>tbody>tr>td {
        display: block;
        width: 50%;
        padding: 1ex;
        margin-left: auto;
        margin-right: auto;
        border: 0;
        background: transparent;
    }
     /* 
     * table.people.solo .editable-clickable {
     *     min-height: 1cm;
     *     padding-top: auto;
     *     padding-bottom: auto;
     * }
     * 
     * table.people.solo .editable-clickable:hover {
     *     transform: none;
     * }
     */
    
    table.people.solo>tbody>tr>td::before {
        display: inline-block;
        font-size: 100%;
        color: black;
        width: 20%;
        text-align: right;
    }

    table.people.solo>tbody>tr>td::after {
        display: inline-block;
        font-size: 100%;
        color: black;
        width: 20%;
        text-align: right;
    }

    
    table.people.solo>tbody>tr>td.name::before {
        content: "Name: ";
    }

    table.people.solo>tbody>tr>td.mail::before {
        content: "eMail Address: ";
    }

    table.people.solo>tbody>tr>td.phone::before {
        content: "Telephone number: ";
    }

    table.people.solo>tbody>tr>td.ticket-type::before {
        content: "Ticket Type: ";
    }

    table.people.solo>tbody>tr>td.days::before {
        content: "Days: ";
    }

    table.people.solo>tbody>tr>td.sleep::before {
        content: "Sleeping: ";
    }

    table.people.solo>tbody>tr>td.eat::before {
        content: "Meal Plan: ";
    }

    table.people.solo>tbody>tr>td.t-shirt::before {
        content: "T-Shirt: ";
    }

    table.people.solo>tbody>tr>td.tote::before {
        content: "Tote Bag: ";
    }

    table.people.solo>tbody>tr>td.coffee::before {
        content: "Coffee Mug: ";
    }


@media screen and (max-width: 40rem) {

    table.people { 
        display: block; 
        width: 100%; 
    }

    table.people>tfoot,    table.people>tfoot>tr {
        display: block
    }

    table.people>tfoot>tr>th, table.people>tfoot>tr>td { 
        display: inline-block; 
    }

    table.people>thead { 
        display: none
    }

    table.people>tbody>tr>td {
        display: inline-block;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        border: 0;
        background: transparent;
    }

    table.people>tbody>tr::before {
        display: block;
        content: '— - — - — - —';
        text-align: center;
        padding: 1ex;
    }

    table.people>tbody>tr::after {
        display: block;
        content: '— - — - — - —';
        text-align: center;
        padding: 1ex;
    }

    .editable-clickable {
        min-height: 1cm;
        padding-top: auto;
        padding-bottom: auto;
    }

    .editable-clickable:hover {
        transform: none;
    }
    
    table.people>tbody>tr>td::before {
        font-size: 125%;
        color: blue;
        width: 25%;
    }

    table.people>tbody>tr>td>.name::before {
        content: "Name: ";
    }

    table.people>tbody>tr>td>.mail::before {
        content: "eMail Address: ";
    }

    table.people>tbody>tr>td>.phone::before {
        content: "Telephone number: ";
    }

    table.people>tbody>tr>td>.ticket-type::before {
        content: "Ticket Type: ";
    }

    table.people>tbody>tr>td>.days::before {
        content: "Days: ";
    }

    table.people>tbody>tr>td>.sleep::before {
        content: "Sleeping: ";
    }

    table.people>tbody>tr>td>.eat::before {
        content: "Meal Plan: ";
    }

    table.people>tbody>tr>td>.t-shirt::before {
        content: "T-Shirt: ";
    }

    table.people>tbody>tr>td>.tote::before {
        content: "Tote Bag: ";
    }

    table.people>tbody>tr>td>.coffee::before {
        content: "Coffee Mug: ";
    }

    body { 
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        margin-top: 2em;
        margin-bottom: 2em;
        padding: 1ex; 
    }

    body>* { 
        max-width: calc( 100% - 2ex );
        width: calc( 100% - 2ex ); 
    }

    section.card { 
        width: 100%; 
        min-width: 20rem; 
        max-width: 100%; 
        margin-top: 1em; 
        margin-bottom: 1em; 
        margin-left: 0; 
        margin-right: 0;
        border: 0;  
    }

    .card:hover { 
        box-shadow: none; 
    }

    .card>p { 
        max-width: 100%; 
    }
    
}

@media screen and (min-width: 75rem) {
    body {
        min-width: 60rem;
        width: 60rem;
        max-width: 60rem;
        margin-left: 1rem;
    }
    #assistant {
        position: fixed;
        top: 3rem;
        margin-left: 61em;
        left:0;
        bottom: 1rem;
        /* height: 95vh; */
        /* width: calc( 20% - 2rem ) ; */
        min-width: 6rem;
        max-width: 40rem;
        overflow-y: scroll;
    }
}

table {
    border-collapse: collapse;
}

.print-only {
    display: none
}


@media print {
    body.is-dev::before {
        content: "☠ Warning: this is a DEVELOPMENT version of this application."
    }

    .editable-clickable {
        border: none;
    }

    body.is-dev::after {
        display: none;
    }

    body.is-dev {
        border:
        none;
    }

    html {
        background: white;
        color: black;
        border:
        inherit;
    }

    body {
        border: inherit;
        background: white;
        margin-left: .75in;
        font-size: 10.5pt;
    }

    .print-only { display: inline-block }
    .no-print { display: none }

    h1,h2,h3 {
        margin-left: -.75in;
        color: black;
        background: #ccc;
    }

    h1 {
        color: black;
        font-size: 2rem;
        display: block;
        position: relative;
    }

    h1 abbr { display: none }

    .card {
        /* border-shadow: 0 0 0; */
        border: none;
        border-radius: 1ex;
        display: block;
        background: white;
        page-break-inside: avoid;
        margin-bottom:
        3rem;
    }
    .card>h2 {
        background: white;
        margin-left: -3rem;
    }

    .card>* {
        background-color: white
    }

    abbr::before { content: ' (' }
    
    abbr {
        border: 0pt solid white;
        color: #888;
    }

    abbr::after {
        content: ') — ' attr(title);
        color: black;
    }

    abbr>.ellide {
        display: block;
    }

    #assistant {
        display: none;
    }

    input[type=text] {
        display: inline;
        width: auto;
        border: inherit;
        text-decoration: underline;
        background: inherit;
    }

    textarea {
        display: block;
        border: 1pt dotted #888;
        background: inherit;
    }

    /* not yet in the CSS standard, so we repeat ourselves a bunch */
    ::-webkit-input-placeholder {
        display: none;
        color: white;
    }

    :-moz-placeholder { /* Firefox 18- */
        display: none;
        color: white;
    }

    ::-moz-placeholder {  /* Firefox 19+ */
        display: none;
        color: white;
    }

    :-ms-input-placeholder {
        display: none;
        color: white;
    }

    .actionArea,button {
        display: none;
    }

    select {
        border: 0;
        text-decoration: underline;
        background: white;
        color: black;
        font-family: inherit;
    }

    select::after {
        content: '⁂'
    }

    label:hover {
        background: inherit
    }

    abbr:hover {
        background: inherit
    }

    table, td {
        border: 1pt solid #ccc;
    }

    th {
        border-top: 1pt solid #ccc;
        border-left: 1pt solid #ccc;
        border-right: 1pt solid #ccc;
        border-bottom: 1pt solid black;
    }


    *:hover,tr:hover { background: inherit }


    table.people { display: block }

    table.people>tfoot,    table.people>tfoot>tr {display: block }


    table.people>tfoot>tr>th,    table.people>tfoot>tr>td { display: inline }


    table.people>thead { display: none }

    table.people>tbody>tr {
        display: block;
        border: 1pt solid #888;
        page-break-inside: avoid;
    }

    table.people>tbody>tr>td {
        display: inline-block;
        width: 75%;
    }

    table.people>tbody>tr>td::before {
        font-size: 125%;
        color: blue;
        width: 25%;
    }

    table.people>tbody>tr>td>.name::before {
        content: "Name: ";
    }

    table.people>tbody>tr>td>.mail::before {
        content: "eMail Address: ";
    }

    table.people>tbody>tr>td>.phone::before {
        content: "Telephone number: ";
    }

    table.people>tbody>tr>td>.ticket-type::before {
        content: "Ticket Type: ";
    }

    table.people>tbody>tr>td>.days::before {
        content: "Days: ";
    }

    table.people>tbody>tr>td>.sleep::before {
        content: "Sleeping: ";
    }

    table.people>tbody>tr>td>.eat::before {
        content: "Meal Plan: ";
    }

    table.people>tbody>tr>td>.t-shirt::before {
        content: "T-Shirt: ";
    }

    table.people>tbody>tr>td>.tote::before {
        content: "Tote Bag: ";
    }

    table.people>tbody>tr>td>.coffee::before {
        content: "Coffee Mug: ";
    }

    .editable-clickable { border: none }

    #nightshade { display: none }
}

#nightshade { display: none;
              height: 100%;
              width: 100%;
              position: fixed;
              opacity: .5;
              background-color: #393;
              top: 0;
              left: 0;
              z-index: 10;
            }

input.size-3 { width: 3rem }
input.size-6 { width: 6rem }

center.centerboth {
    margin: auto auto auto auto;
}

.signature input, #waiver-signature input {
    font-family: Damion, 'Herr Von Muellerhoff', cursive;
}

#vendor-slips {
    background: #27ae60;
    background: -webkit-linear-gradient(top, #27ae60 0%, #145b32 100%);
    background: linear-gradient(to bottom, #27ae60 0%, #145b32 100%);
    box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
    display: inline-block;
    padding: 1ex;
    width: 7rem;
}

#vendor-slips>.slip {
    display: inline-block;
    width: 2rem;
    height: 1.5rem;
    position: relative;
    margin: 1ex auto;
}
/* 
 * #vendor-slips>.slip label {
 *     width: 20px;
 *     height: 20px;
 *     position: absolute;
 *     top: 4px;
 *     left: 4px;
 *     cursor: pointer;
 *     background: -webkit-linear-gradient(top, #222222 0%, #45484d 100%);
 *     background: linear-gradient(to bottom, #222222 0%, #45484d 100%);
 *     box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px white;
 * }
 */
#vendor-slips>.slip label::after {
    content: '';
    width: 1rem;
    height: 1rem;
    position: absolute;
    top: .5ex;
    left: .5ex;
    background: #fcfff4;
    background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
    opacity: 0;
}

#vendor-slips>.slip label:hover::after {
    opacity: 0.5;
}
#vendor-slips>.slip input[type=checkbox] {
    visibility: hidden;
}
#vendor-slips>.slip input[type=checkbox]:checked + label::after {
    opacity: 1;
}


